#error {
    background-color: darkorchid;
    color: white;
    text-align: center;
}

#error {
    font-size: 50px;
    font-family: "American Typewriter";
}

#finishQuizButton {
    display: none;
}

#resultTable {
    width: 55%;
    margin: auto;
    position:relative;
    text-align: left;
}